<div class="about">
Joketown is the web's premiere home for LOL's, ROFL's, and LMFAO's.  In need of a good laugh?  Scroll through our continuously updated <a href="feed">feed of the latest jokes</a>.  Have some humor to share?  <a href="newpost">Contribute a joke!</a>  Don't forget to fill out your <a href="welcome">profile</a> and be sure to follow your favorite <a href="users">funny people</a>!
<br>
<br>
Why did the programmer quit his job?
<br>
<br>
Because he didn't get arrays!
</div>