<h1>HELLO WORLD</h1>

<h1>New user? Sign up here:</h1>
<form method="POST" action="/sign_up">
	<label for="email">Email</label>
	<input type="email" name="[signup]email">
	<label for="password">Password</label>
	<input type="password" name="[signup]password">
 <!-- add option to double-check password -->
<!-- 	<label for="text">Confirm Password</label>
	<input type="password" name="[signup]password2"> -->
	<input type="submit">
</form>

<h1>Existing user? Sign in here:</h1>
<form method="POST" action="/sign-in">
	<label for="username">Username</label>
	<input type="text" name="[login]username">
	<label for="password">Password</label>
	<input type="password" name="[login]password">
	<input type="submit">
</form>