<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Joketown!</title>
	<link rel="stylesheet" type="text/css" href="styles/stylesheet.css">
	<script src="scripts/jquery-2.2.3.js"></script>
	<script src="scripts/script.js"></script>
</head>
<body>

<% if flash[:notice] %>
	<div class="flash_notice">
		<%=flash[:notice] %>
	</div>   
<% end %>

<% if flash[:alert] %>
	<div class="flash_alert">
		<%=flash[:alert] %>
	</div>
<% end %>

<%= yield %>

</body>
</html>