<h1 class="page_heading">Hey <%= @current_user.username %>! Feeling hilarious? Post a new joke:</h1>

<form method="POST" action="/posts/create">
	<label for="body">Joke</label>
	<input type="text" name="[post]body">
	<br>
	<label for="title">Tags</label>
	<input type="text" name="[post]tag">
	<br>
	<label for="explicit">Is your joke appropriate for all ages?</label>
	<input type="radio" name="[post]explicit" value=false checked> Yes
  <input type="radio" name="[post]explicit" value=true> No<br>
  <input type="hidden" value=
  <%= current_user.id %> 
  name="[post]user_id">
  <input type="hidden" value=0 name="[post]rating">
	<input type="submit">
</form>