<div class="userlist">
<h1 class="page_heading">Current Users</h1>
<% @users.reverse.each do |user|%>
	<% if user.username == nil %>
	<% else %>
 		<div class="username"><%= user.username %></div>
 		<br>
	<% end %>
<% end %>
</div>