<h1>Thanks for signing up! Welcome to Joketown. The first step is to create your profile:</h1>

<form method="POST" action="/newprofile">
	<label for="firstname">First Name</label>
	<input type="text" name="[profile]firstname">
	<label for="lastname">Last Name</label>
	<input type="text" name="[profile]lastname">
	<label for="birthday">Birthday</label>
	<input type="date" name="[profile]birthday">
	<label for="age">Age</label>
	<input type="number" name="[profile]age">
	<label for="username">Choose Your Username</label>
	<input type="text" name="[profile]username">
	<input type="submit">
</form>