/** {
	background-color: blue;
}*/

.flash_alert {
	color: red;
}

.flash_notice {
	color: blue;
}

.banner {
	height: 200px;
	width: 1100px;
	margin-left: 30px;
	margin-right: 30px;
	background-color: white;
}

.joketown {
	color: red;
	font-size: 100px;
	font-family: "Comic Sans MS";
	text-align: center;
}

.username {
	color: red;
	font-size: 50px;
	font-family: "Comic Sans MS";
}

.joke {
	color: green;
	font-size: 40px;
	font-family: "Comic Sans MS";
}